.titulo{background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  display: flexbox;
}

nav{
  float: left;
  width: 30%;
  display: flexbox;
  
  background: #ccc;
  padding: 20px;
}
.links{
  float: left;
  background-color: #ccc;
}


.artigo {
  float: right;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;}

  .footer{

  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  